/dev/miomap               0666   media      system
/dev/malloc               0666   media      system
/dev/rtc0                 0666   system     system
/dev/ump                  0666   system     system
/dev/mali                 0666   system     system
/dev/video0               0666   root       camera
/dev/video1               0666   root       camera
/dev/video2               0666   root       camera
/dev/snd                  0666   system     audio
/dev/semutex              0666   media      system
/dev/block/mmcblk0        0440   system     drmrpc
/dev/block/mmcblk0p*      0660   system     drmrpc
/dev/block/mmcblk0boot1   0660   system     drmrpc
/dev/btusb0               0666   bluetooth  bluetooth
/dev/bt_usb0              0666   bluetooth  bluetooth
/dev/upcm                 0666   bluetooth  bluetooth
/dev/mali0                0666   system     graphics
/dev/ion                  0666   system     graphics
/dev/sw_sync              0666   media      system
/dev/cmapool              0666   media      system
/dev/rtk_btusb            0666   bluetooth  bluetooth
/dev/stpbt                0666   bluetooth  radio
/dev/hidraw*              0666   system     audio
/dev/tuner                0666   media      system
/dev/apm_bios             0666   system     system
/dev/scaler               0666   media      system
/dev/opteearmtz00         0666   media      system
/dev/mstar_share_resource 0666   media      system
/dev/gflip                0666   system     graphics
/dev/system               0666   system     graphics
/dev/smart                0666   system     system
/dev/ir                   0666   system     system
/dev/msmailbox            0666   system     graphics
/dev/localdimming         0666   system     system
/dev/i2c*                 0660   system     system
/dev/pm                   0660   system     system
